/*------------------------------------*\
    $PAGE HEADER
\*------------------------------------*/
/**
 * Header for the main page template
 */

.page-header {
	@extend .cf;
	background-color: $brand-color-1;
	border-bottom: 10px solid $brand-color-2;
	color: $font-color-2;
	padding: $base-spacing-unit;
}
	
.page-header__logo {
	float: left;
	font-family: $brand-font-1;
	@include brand-text-shadow-1;
}

.page-header__toolbar {
	float: right;
}