/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */
$base-font-family:	merriweather_sansregular, asapregular,Calibri,Arial,Helvetica,sans-serif;
$responsive: 		true;
$lap-start:         641px;



/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */
/* Objects & Abstractions */
$use-modules: 		true;
$use-page:			true;
$use-page-header:	true;
$use-page-body:		true;
$use-page-footer:	true;
$use-info:			true;
$use-errors:		true;
$use-nav:			true;

/* Variables */
$min-page-width:	480px;
$max-page-width:	1200px;

/* Brand fonts */
$brand-font-1: pacificoregular,Calibri,Arial,Helvetica,sans-serif;

/* Brand colours */
$brand-color-1: #840816;
$brand-color-2: #B00B1E;

/* Font colours */
$font-color-1: #666;
$font-color-2: #fff;

/* Background colours */
$background-color-1: #e9e9e9;
$background-color-2: #fff;

/* Border radius */
$border-radius-1: 6px;

/* Border color */
$border-color-1 : #999;
