@if $use-beautons == true{

/*------------------------------------*\
    $BEAUTONS OVERWRITE
\*------------------------------------*/

.btn {
    color: #fff;
    background-color: $brand-color-1;
}

.btn:hover {
    background-color: $brand-color-2;
}

input[type="submit"] {
	@extend .btn;
	@extend .btn--small;
}

}