@if $use-info == true{

/*------------------------------------*\
    INFO
\*------------------------------------*/
/* Base styles for an block of information which can be added to form-rows, paragraphs etc. Extended in _module.scss */

.info {
	position: relative;
	padding: $half-spacing-unit $half-spacing-unit $half-spacing-unit #{$half-spacing-unit + $h1-size + $half-spacing-unit};
	margin-bottom: $half-spacing-unit;
	
	background-color: $info-background-color-1;
	color: $font-color-2;
	
	&:before {
		position: absolute;
		top: $half-spacing-unit;
		left: $base-spacing-unit;
		
		line-height: 1;
		content: "i";
		font-size: $h1-size;
		font-weight: bold;
		color: $info-color-1;
	}
	
	.error__message {
		display: block;
		padding: $quarter-spacing-unit;
		margin-bottom: $half-spacing-unit;
		
		text-align: center;
		background-color: $info-color-1;
	}
	
}

}