@if $use-modules == true {
	
/*------------------------------------*\
    MODULE
\*------------------------------------*/
/**
 * The modules that make up the basis of the site
 */
.module {
	@extend .cf;
	background-color: $background-color-2;
	padding: $base-spacing-unit $base-spacing-unit 0 $base-spacing-unit;
	margin-bottom: $base-spacing-unit;
	
	@if $use-errors == true {
	&.error {
		background-color: $error-background-color-1;
		color: $font-color-2;
		padding-left: #{$half-spacing-unit + $kilo-size + $half-spacing-unit};
		
		&:before {
			font-size: $kilo-size;
		}
	}
	}
	
	@if $use-info == true {
	&.info {
		background-color: $info-background-color-1;
		color: $font-color-2;
		padding-left: #{$half-spacing-unit + $kilo-size + $half-spacing-unit};
		
		&:before {
			font-size: $kilo-size;
		}
	}
	}

}

.sub-module {
	@extend .module;
	background-color: $background-color-1;
	padding: $half-spacing-unit $half-spacing-unit 0 $half-spacing-unit;
}

}