@if $use-nav == true {
	
/*------------------------------------*\
    NAV
\*------------------------------------*/
/*
 * Blanket nav styles
 */
.nav {
	a {
		text-decoration: none;
		margin-right: $half-spacing-unit;
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	li:last-of-type a {
		margin-right: 0;
	}
}

}

/**
 * Mobile stuff
 */
@include media-query(palm){
	.nav {
		
		li {
			display: block;
			
			a {
				display: block;
				text-align: center;
			}
		}
	}
}