@if $use-page-footer == true {

/*------------------------------------*\
    $PAGE FOOTER
\*------------------------------------*/
/*
 * Footer for all pages
 */

.page-footer-wrapper {
	@extend .cf;
	background-color: $brand-color-1;
	border-top: $half-spacing-unit solid $brand-color-2;
	color: $font-color-2;
	width: 100%;
}

.page-footer {
	@extend .cf;
	min-width: $min-page-width;
	max-width: $max-page-width;
	padding: $base-spacing-unit;
	margin: 0 auto;
	
	a {
		color: #fff;	
	}
}

}