@if $use-page-header == true {

/*------------------------------------*\
    PAGE HEADER
\*------------------------------------*/
/*
 * Header for the main page template
 */

.page-header-wrapper {
	background-color: $brand-color-1;
	border-bottom: $half-spacing-unit solid $brand-color-2;
	color: $font-color-2;
}

.page-header {
	@extend .cf;
	min-width: $min-page-width;
	max-width: $max-page-width;
	padding: $base-spacing-unit $base-spacing-unit 0 $base-spacing-unit;
	margin: 0 auto;
}

.page-header__top-bar {
	@extend .cf;
	display: block;
	float: left;
}

.page-header__logo {
	@include brand-text-shadow-1;
	display: block;
	float: left;
	margin-bottom: $base-spacing-unit;
	margin-right: $base-spacing-unit;
	font-family: $brand-font-1;
	font-size: $kilo-size;
	line-height: 1;
	
	a,
	a:visited,
	a:hover,
	a:active {
		color: #FFFFFF;
		text-decoration: none;
	}
	
}

@if $use-nav == true {

.page-header__nav {
	@extend .nav;
	
	color: #fff;
	margin: $half-spacing-unit 0 $half-spacing-unit 0;
	float: right;
	
	a {
		color: #fff;
	}
}

.page-header__menu-icon {
	@include menu-icon($h1-size, $font-color-2);
	float: right;
	display: none;
	margin: $quarter-spacing-unit;
}

}

/**
 * Mobile stuff
 */
@include media-query(palm){
	.page-header {
		padding: $half-spacing-unit $half-spacing-unit 0 $half-spacing-unit;	
	}
	
	.page-header__top-bar {
		float: none;
	}
	
	.page-header__logo {
		margin-right: $half-spacing-unit;
		margin-bottom: $half-spacing-unit;
		font-size: $h1-size;
	}
	
	@if $use-nav == true {
	
	.page-header__nav {
		float: none;
		margin-top: $quarter-spacing-unit;
		
		li {
			background-color: $brand-color-2;
			margin-bottom: $quarter-spacing-unit;
			
			a {
				padding: $quarter-spacing-unit;
				margin-right: 0;
			}
			
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	
	.page-header__menu-icon {
		display: block;
	}
	
	}
}

}