@if $use-page-body == true {

/*------------------------------------*\
    PAGE BODY
\*------------------------------------*/
/**
 * The main wrapper for the page body
 */
.page-body {
	padding: $base-spacing-unit $base-spacing-unit 0 $base-spacing-unit;
	min-width: $min-page-width;
	max-width: $max-page-width;
	margin: 0 auto;
}

}