/*------------------------------------*\
    DEFAULTS
\*------------------------------------*/
/**
 * Some more default variables. Redefine these in your `_vars.scss` file (found
 * in the inuit.css-web-template) to override them.
 */

/* Brand fonts */
$brand-font-1: 'pacificoregular','Arial',sans-serif!default;
$brand-font-2: 'merriweather_sansbold','Arial Black',sans-serif!default;

/* Brand colours */
$brand-color-1: #974116!default;
$brand-color-2: #CA571E!default;

/* Font colours */
$font-color-1: #666!default;
$font-color-2: #fff!default;

/* Background colours */
$background-color-1: #e9e9e9!default;
$background-color-2: #fff!default;
$background-color-3: #996eaf!default;

/* Error colours */
$error-background-color-1: #c85461!default;
$error-color-1: #B00B1E!default;

/* Info colours */
$info-background-color-1: #7c9ef8!default;
$info-color-1: #1E55EE!default;

/* Border radius */
$border-radius-1: 6px!default;

/* Border color */
$border-color-1 : #999!default;

/* Quarter spacing unit */
$quarter-spacing-unit: $base-spacing-unit / 4!default;