/*------------------------------------*\
    MIXINS
\*------------------------------------*/

/*
 * Brand text shadow - adds the brand text shadow to any element
 */
@mixin brand-text-shadow-1 {
	text-shadow: 1px 1px #000;
}

/*
 * Menu icon - mainly used on mobiles to expand navs
 */
@mixin menu-icon($size, $color) {
  position: relative;
  padding-left: 1em;
  display: block;
  height: $size;
  font-size: $size;
	
	&:before {
	  content: "";
	  position: absolute;
	  top: 0.2em;
	  left: 0;
	  width: 1em;
	  height: 0.6em;
	  border-top: 0.375em double $color;
	  border-bottom: 0.125em solid $color;
	}
	
	&:hover {
		cursor: pointer;
	}
}