/*------------------------------------*\
    FORMS
\*------------------------------------*/
/**
 * Shared element positioning and spacing
 */
.form-row input,
.form-row select,
.form-row textarea,
.form-row fieldset,
.form-row label,
.form-row .label,
.form-row .btn {
	display: block;
	margin-bottom: $half-spacing-unit;
}

.form-row fieldset {
	input,
	select,
	textarea,
	label,
	.label,
	.btn {
		margin-bottom: 0;	
	}
}

/**
 * Shared element styling
 */
input[type=text],
input[type=password],
input[type=email],
select,
textarea,
fieldset {
	@include vendor(border-radius, 4px);
	border: 1px solid $border-color-1;
}

input[type=text],
input[type=password],
input[type=email],
select,
textarea {
	padding: 5px;
	width: 250px;
}

/**
 * Form elements
 */
fieldset {
	padding-top: $half-spacing-unit;
	padding-bottom: $half-spacing-unit;	
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: $half-spacing-unit;
}

/**
 * Form Rows
 */
.form-row-wrapper,
.form-row {
	@extend .cf;
	display: block;
}

.form-row-wrapper {
	margin-bottom: $half-spacing-unit;	
}

/**
 * Inline Items (make any items with the class in a form-row appear in a line)
 */
.form-row {
	.inline-item,
	.inline-label,
	input[type="submit"].inline-item {
		display: inline-block;
		vertical-align: middle;
	}
		
	.inline-label {
		width: 125px;
		text-align: right;
		margin-right: $half-spacing-unit;
	}
}

/**
 * Mobile stuff
 */
@include media-query(palm){
	.form-row {
		.inline-item,
		.inline-label {
			display: block;
		}
			
		.inline-label {
			width: auto;
			text-align: left;
			margin-right: 0;
		}
	}
}