/*------------------------------------*\
    LINKS
\*------------------------------------*/
a,
a:visited,
a:hover,
a:active {
	text-decoration: underline;
	color: $brand-color-1;
}

a:hover {
	color: $brand-color-2;
}

a.back {
	
	&:before {
		content: "\0020\00AB\0020";
	}
}