/*------------------------------------*\
    MAIN
\*------------------------------------*/
/**
 * Blanket styles that can't be abstracted
 */

html,
body {
	min-width: $min-page-width;
}

html {
	color: #333;
}

body {
	background-color: $background-color-1;
	margin: 0 auto;
}